{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <div class="my-5">
        <h1 class="display-4">All Posts</h1>
    </div>
    {% if user.is_authenticated %}
        <form class="my-5" id="new-post-form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="new-post-text" class="form-label">
                    <strong>New Post</strong>
                </label>
                <textarea class="form-control"
                          id="new-post-text"
                          name="new-post-text"
                          rows="3"
                          maxlength="280"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-paper-plane"></i>
                Post
            </button>
        </form>
    {% endif %}
    <div id="post-list">
        {% for post in posts %}
            {% include 'network/post.html' %}
        {% endfor %}
    </div>
    {% include 'network/helper/pagination.html' %}
{% endblock %}
