{% load static %}
<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex w-100">
      <div class="me-2">
        <button class="btn like-button {% if user in post.likes.all %}text-danger{% endif %}"
                data-post_id="{{ post.id }}"
                id="like-button-{{ post.id }}"
                {% if not user.is_authenticated %}disabled{% endif %}>
          <i class="fas fa-heart"></i>
          <span id="like-count-{{ post.id }}">{{ post.likes.count }}</span>
        </button>
      </div>
      <div class="w-100">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">
            <a href="{% url 'profile' post.user.id %}" class="text-decoration-none">@{{ post.user.username }}</a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.timestamp|date:"F j, Y, g:i a" }}</h6>
        </div>
        <p class="card-text" id="post-text-{{ post.id }}">{{ post.text }}</p>
        {% if user.is_authenticated %}
          {% if user == post.user %}
            <button type="button"
                    class="btn btn-outline-dark btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#edit-post-modal-{{ post.id }}">
              <i class="fas fa-edit"></i>
              Edit
            </button>
            <div class="modal fade"
                 id="edit-post-modal-{{ post.id }}"
                 tabindex="-1"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="edit-post-form" data-post_id="{{ post.id }}">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Post</h1>
                      <button type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="mb-3">
                        <label for="edit-text-{{ post.id }}" class="form-label">Text</label>
                        <textarea class="form-control"
                                  id="edit-text-{{ post.id }}"
                                  name="edit-text"
                                  rows="3"
                                  maxlength="280">{{ post.text }}</textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
